@model TestApp01.Models.Info.PageableData<TestApp01.Model.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var searchString = ViewBag.Search;
}

<h2>Users</h2>
@using (Html.BeginForm("Index", "User", FormMethod.Post, new { @class = "form-search" }))
{
    @Html.TextBox("searchString", searchString ?? "", new { @class = "input-medium search-query"})
    <button type="submit" class="btn">Поиск</button>
}
<p>
    @foreach (var user in Model.List)
    {
        <div class="item">
            <span class="id">
                @user.Id
            </span>
            <span class="name">
                @user.Name
            </span>
            <span class="Date">
                @user.AddedDate
            </span>
            <span class="email">
                @user.Email
            </span>
            <input type="button" onclick="location.href='User/Activate/@user.Id'" value="@user.ActivateAction" title="@user.ActivateAction" />
        </div>
    }
</p>
<ul class="pagination pagination-sm">
    @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("Index", new { page = x, searchString}))
</ul>